<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<!-- Legacy Servlets - These have since platform 3 been replaced with the FacesServlet -->
	<servlet>
		<display-name>IBMainServlet</display-name>
		<servlet-name>IBMainServlet</servlet-name>
		<servlet-class>
			com.idega.builder.servlet.IBMainServlet
		</servlet-class>
		<load-on-startup>-2</load-on-startup>
	</servlet>
	<servlet>
		<display-name>IBIFrameServlet</display-name>
		<servlet-name>IBIFrameServlet</servlet-name>
		<servlet-class>
			com.idega.builder.servlet.IBIFrameServlet
		</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>IBMainServlet</servlet-name>
		<url-pattern>/servlet/builder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IBMainServlet</servlet-name>
		<url-pattern>/servlet/builder/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IBMainServlet</servlet-name>
		<url-pattern>/servlet/builder/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IBMainServlet</servlet-name>
		<url-pattern>/servlet/IBMainServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IBMainServlet</servlet-name>
		<url-pattern>/servlet/IBMainServlet/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IBMainServlet</servlet-name>
		<url-pattern>/servlet/IBMainServlet/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>IBIFrameServlet</servlet-name>
		<url-pattern>/servlet/IBIFrameServlet</url-pattern>
	</servlet-mapping>
	
	
	<!-- Plug in the Builder Facelets Decorator -->
 	<context-param>
 		<param-name>facelets.DECORATORS</param-name>
		<param-value>com.idega.builder.facelets.BuilderTagDecorator</param-value>
	</context-param>

</web-app>