body.isAdmin {
	padding-top: 51px;
}

div#adminTopLayer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	border-bottom: 1px #999 solid;
	z-index: 99999;
	background: url(images/admin-tiler.png);
}

div#adminTopLayer .login {
	border: 0;
	padding: 0;
	max-width: none;
	position: absolute;
	top: 10px;
	left: 15px;
}

div#adminTopLayer .login form {
	margin: 0;
	padding: 0;
	width: auto;
	position: relative;
	left: 0;
	top: 0;
	width: auto;
}

div#adminTopLayer div.login p {
	float: left;
	padding: 0;
	line-height: 30px;
	color: #fff;
	margin-right: 15px;
	font-size: 14px;
	font-weight: bold;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

div#adminTopLayer div.login div.submit {
	float: left;
	margin-top: 4px;
}

div#adminTopLayer div.login div.submit input {
	border: 2px #333 solid;
	background-color: #efefef;
	font-size: 12px;
	padding: 2px 4px;
	margin: 0;
	float: left;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	color: #333;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	width: auto;
}

div#adminTopLayer div.login div.submit input:hover {
	border-color: #666;
	cursor: pointer;
	color: #666;
}

div#adminTopLayer ul {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	line-height: 1em;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 10px;
}

div#adminTopLayer ul li {
	margin: 0;
	float: left;
	width: 58px;
	padding-top: 37px;
	text-align: center;
	text-shadow: none;
	height: 13px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
	color: #fff !important;
	border-left: 1px transparent solid;
	border-right: 1px transparent solid;
	position: relative;
}

div#adminTopLayer ul li:hover {
	cursor: pointer;
}

div#adminTopLayer ul li.adminThemesMode {
	background: url(images/lgicn_32.png) center 2px no-repeat;
}

div#adminTopLayer ul li.adminEditMode {
	background: url(images/apps_32.png) center 2px no-repeat;
}

div#adminTopLayer ul li.adminContentMode {
	background: url(images/edit_32.png) center 2px no-repeat;
}

div#adminTopLayer ul li.adminPreviewMode {
	background: url(images/srch_32.png) center 2px no-repeat;
	border-right: 0;
}

div#adminTopLayer ul li.selected {
	background-color: #ccc;
	color: #333 !important;
	border-color: #999;
}

div#adminTopLayer ul li .modeHelper {
	display: none;
	position: absolute;
	border: 2px #fff solid;
	background: #000;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	opacity: .8;
	-moz-opacity: .8;
	right: 1px;
	top: 53px;
	padding: 10px;
	width: 180px;
	text-align: left;
	box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 2px 2px 5px #000;
}

div#adminTopLayer ul li.adminContentMode .modeHelper {
	right: -59px;
}

div#adminTopLayer ul li.adminEditMode .modeHelper {
	right: -70px;
}

div#adminTopLayer ul li.adminThemesMode .modeHelper {
	right: -70px;
}

div#adminTopLayer ul li .modeHelper h1 {
	padding: 0 !important;
	margin-bottom: 6px !important;
	margin-top: 0 !important;
	font-size: 11px !important;
	color: #fff !important;
	font-weight: bold !important;
	letter-spacing: normal !important;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
}

div#adminTopLayer ul li .modeHelper p {
	margin: 0 !important;
	color: #ccc !important;
	line-height: 1.2em !important;
	float: none !important;
}

div#themeSlider {
	position: fixed;
	height: 165px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	width: auto;
	background: url('images/themesBackground.png') top left;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	z-index: 2;
}

div#themeSlider div.themesSlider {
	background: none;
	border: 0;
	width: auto !important;
	bottom: 10px !important;
	right: 10px !important;
	left: 10px !important;
}

div#themeSlider div.themeName {
	color: #999;
}

div#themeSlider div.usedThemeName {
	color: #fff;
}