/* The edit view*/
.isEditAdmin .moduleContainer {	
	cursor: default;
	margin: 0px;
	position: relative;
	min-height: 50px;
	min-width: 170px;
	/*border: 1px transparent dotted;*/
}

.isContentAdmin .applicationPropertyStyleClass {
	border: 1px #ccc dotted;
	position: relative;
	padding-right: 16px;
	min-width: 100px;
	min-height: 12px;
}

.isContentAdmin .InlineEditableComponent {
	border: 1px #ccc dotted;
	position: relative;
	padding-right: 20px;
	background: url(images/text-edit.png) top right no-repeat;
}

.isContentAdmin .InlineEditableComponent input {
	padding: 0 3px;
	border: 0;
}

.isContentAdmin .applicationPropertyStyleClass .icon {
	position: absolute;
	top: 1px;
	right: 1px;
	width: 10px;
	height: 10px;
	background: url(images/text-edit.png) top left no-repeat;
}

.isEditAdmin .moduleContainer:hover {	
	/*cursor: default;*/	
	/*margin: 1px;*/
	background-color: #eee;
}

.isEditAdmin .moduleContainer:hover .regionInfoImageContainer {
	display: block;
	opacity: 1;
}

.moduleWrapper {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #ccc;
	z-index: 2;
	opacity: .5;
}

.isEditAdmin .moduleContainer:hover .moduleWrapper {
	display: block;
	cursor: move !important;
}

.moduleHandle {
	background-color: #D7DBE7;
	border-bottom: 1px #000000 solid;	
	cursor: default;
	height: 16px;
	padding:0px;
}

.moduleContent{	
	cursor: default;
}

.isEditMode .moduleContent {
	min-height: 50px;
}

.moduleFromOtherPageName {
	font-size: 12px !important;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
	line-height: 24px !important;
	display: none;
	white-space: nowrap !important;
	padding-left: 6px !important;
	text-transform: none !important;
	font-weight: bold !important;
	float: left;
	overflow: hidden;
	text-align: left;
	margin: 0 !important;
	color: #fff;
}

.moduleName {
	border: 1px #f2d900 solid;
	display: none;
	position: absolute;
	top: 1px;
	left: 1px;
	z-index: 2000;
	background: url(images/module-name-tiler.gif) top left repeat-x #eecf00;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.isEditAdmin .moduleName, .isEditAdmin .moduleFromOtherPageName {
	display: block;
}

.showingDrag .moduleName {
	top: 20px;
}

.moduleName span {
	font-size: 10px !important;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
	cursor: move !important;
	display: block;
	line-height: 15px !important;
	padding: 0px 4px !important;
	color: #101010;
}

.regionInfoImageContainer {
	border: 1px #555 solid;
	display: none;
	position: absolute;
	right: 5px;
	bottom: 5px;
	margin: 0 !important;
	overflow: hidden;
	z-index: 10000;
	font-size: 10px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
	background: url(images/properties-tiler.gif) top left repeat-x #666;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.regionInfoImageContainer ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.regionInfoImageContainer ol li {
	display: block;
	float: left;
	background: none !important;
	height: auto !important;
	margin: 0 !important;
	text-transform: lowercase;
	border-right: 1px #555 solid;
}

.regionInfoImageContainer ol li.propertiesModule {
	border-right: 0;
}

.regionInfoImageContainer ol li span {
	display: block;
	float: left;
	color: #fff;
	line-height: 16px !important;
	padding: 0 6px !important;
}

.regionInfoImageContainer ol li a {
	color: #fff;
	height: auto !important;
}

.modulePropertiesLinkStyleClass {
	background: none !important;
	border-bottom: none !important;
	padding: 0px !important;
}

.moduleDropArea{
	cursor: default;
	width: 100%;
	display: none;
	text-align: center;
	font-weight: bold;
	border: 1px #999 solid;
	background-color: #efefef;
}

.moduleDropAreaHover{
	cursor: default;
	background-color: #e7edf7;
}

.moduleButtons{
	cursor: default;
	float: right;
	clear:right;
	text-align:right;
	padding-top:1px;
}

.moduleContainer .moduleDropArea .moduleButtons .moduleButton {
	margin-left: 1px;
	margin-right: 1px;
	padding:0px;
	border: none;
}

div.moduleButtons a {
	display: block !important;
	float: left !important;
	padding: 0 !important;
	width: 16px !important;
	height: 16px !important;
	background-image: none !important;
	background-color: transparent !important;
}

.moduleContainer .moduleDropArea .moduleButtons .moduleButton img {
	margin: 0px;
	border: none;
	//width: 16px !important;
	//height: 16px !important;
}

.toolbarButton{
	float: left;
	margin-right: 3px;
	margin-left: 3px;
	margin-top: 3px;
}

.toolbarLocaleMenu{
	font-family:Arial,Helvetica,sans-serif;font-size: 7pt; 
	border: 1 solid #000000;
	margin-top: 3px;
	float: left;
}

.DnDAreaTable{
	margin:0px;
	cursor: default;
	height: 18px;
	clear: both;
	padding: 0px;
	width:100%;
	cell-padding: 0px;
	cell-spacing: 0px;
	white-space: nowrap;
	visibility: hidden;
}

.regionLabel{
	/*visibility: hidden;*/
	
	/*old style
	font-size: 11px !important;
	font-family: Arial !important;
	background-color: yellow;
	border: 1px #000000 solid;	
	float:left;
	padding-left: 1px;
	padding-right: 1px;
	clear:both;
	text-transform: none !important;
	font-weight: normal !important;*/
}

div#region_labelpageHeader, div#region_labelsite_title, div#region_labelsite_slogan, div#region_labellogo, div#region_labelsidebar_title, div#region_labelcontentContainer, div#region_labelsidebarContainer, div#region_labelfooter, div#region_labelsite_title1 {
	display: none;
}

div.regionLabel a {
	padding: 0 !important;
	width: 9px !important;
	height: 9px !important;
	display: inline !important;
	background-image: none !important;
	background-color: transparent !important;
}

.regionLabelHover{
	background-color: green;
	border: 1px #000000 solid;	
	float:left;
	padding-left: 1px;
	padding-right: 1px;
	clear: both;
}

.regionLabel .regionButton {
	margin: 2px;
	padding: 0px;
}
.regionLabel .regionButton img {
	margin: 0px;
}

/* The source view*/
.sourceView {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
    height: auto !important;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 12px;
    color:#4a4a4a;
}

iframe.codePressViewWindow {
}

.sourceView form{
	margin: 0px;
	padding: 0px;
}

.sourceView textarea{
	position: absolute;
	top: 0;
	bottom: 101px;
	background-color: #fafafa;
	font-size: 11px;
	width: 100%;

	height: expression((document.body.clientHeight) ? document.body.clientHeight - 100 + 'px' : document.documentElement.clientHeight - 100 + 'px' );

	clear: both;
	margin: 0px;
	padding-left: 5px;
	padding-top: 3px;
	border-bottom: 1px solid #bbbbbb;
}

html>body .sourceView textarea {
	height: auto;
}

.sourceViewButtonsLeft{
	top: expression((document.body.clientHeight) ? document.body.clientHeight - 100 + 'px' : document.documentElement.clientHeight - 100 + 'px');

	position: absolute;
	bottom: 0;
	width: 298px;
	height: 84px;
	margin: 0px;
	padding: 8px;
	float:left;
}

html>body .sourceviewButtonsLeft {
	top: auto;
}

.sourceView .sourceViewButtonsLeft input{
	border: 1px solid #bbbbbb;
	font-size: 11px;
	margin-right:3px;
	width: 144px;
	clear: both;
}

.sourceView .sourceViewButtonsLeft .helpText{
	clear: both;
	float: left;
	margin-top: 10px;
}

.sourceViewButtonsRight{
	top: expression((document.body.clientHeight) ? document.body.clientHeight - 100 + 'px' : document.documentElement.clientHeight - 100 + 'px');

	position: absolute;
	bottom: 0;
	right: 0;
	width: 56%;
	height: 84px;
	margin: 0px;
	padding: 8px;
	float:right;
}

html>body .sourceviewButtonsLeft {
	top: auto;
}

.sourceView .sourceViewButtonsRight .helpText{
	float: left;
	display: inline;
	width: 225px;
	text-align: left;
}

.sourceView .sourceViewButtonsRight .helpText code{
	font-size: 11px;
	font-weight: bold;
}

.sourceView .sourceViewButtonsRight input{
	border: 1px solid #bbbbbb;
	font-size: 11px;
	margin-left:5px;
	display:inline;
	float:right;
}

.sourceView .sourceViewButtonsRight select{
	border: 1px solid #bbbbbb;
	display:inline;
	float:right;
	font-weight: bold;
	font-size: 11px;
	width: 125px;
	height:17px;
}

.builderinitialsetupblock{
	margin-top:100px;
}

.regionComponentImageContainer {

}

.regionComponentImageContainer:hover {

}

.regionInfoImageContainer:hover {
	cursor: pointer;
}

.modulesListContainerStyle {
	font-weight: bold;
}

.addModuleContainer .mootabs_panel ul {
	list-style: none;
	text-align: center;
	margin: 10px;
	padding: 0;
	overflow: hidden;
}

.modulesListItemStyle {
	cursor: pointer;
	font-weight: normal;
	border: 1px #999 solid;
	float: left;
	width: 180px;
	height: 150px;
	margin: 10px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.modulesListItemStyle span {
	display: block;
}

.modulesListItemStyle img {
	margin-top: 20px;
	margin-bottom: 10px;
}

.modulesListItemStyle span.objectName {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 4px;
}

.modulesListItemStyle span.objectDescription {
	font-size: 10px;
	color: #666;
}

.modulesListItemStyle:hover {
	border-color: #333;
background-color: #efefef;
}

.regionContainer {	

}

.regionContainer:hover {
	background-color: #99CCCC;
}

/*for modules*/
ul#modules_lists, ul#modules_lists li {
	margin:0;
	padding:0;
	list-style:none;
}
ul#modules_lists li {
	float:left;
	width:150px;
	margin:0 10px 10px 0;
}

ul#modules_lists h3 {
    margin:0px;
    padding: 5px 0 0;
    text-align:center;
    color: #000;
}

ul#modules_lists p {
	margin:0;
	padding:1px 1px 5px;
}

ul#modules_lists p:hover {
	font-weight: bold;
	cursor: pointer;
}

ul#modules_lists div {
	background: #FFC;
}

div#editModuleHeader, div.addModuleToBuilderPage {
	padding: 1px;
	margin:0 auto;
	background:#E6E6E6;
	color:#000;
}

div#editModuleHeader h1, div.addModuleToBuilderPage h1 {
	text-align: center;
	line-height: 54px;
	font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	color: #1f1f1f;
	margin: 0;
	padding: 0;
}

div#editModuleMenu {
}

ul#editModuleMenuNavigation,ul#editModuleMenuNavigation li {
	list-style-type:none;
	margin:0;
	padding:0;
}

ul#editModuleMenuNavigation {
}

ul#editModuleMenuNavigation li {
	float:left;
	margin-right: 3px;
	text-align: center;
}

ul#editModuleMenuNavigation a {
	float:left;
	width: 7em;
	padding: 5px 0;
	background: #4C627D;
	text-decoration:none;
	color: #FFF;
}

ul#editModuleMenuNavigation a:hover {
	background: #FFA826;
	color: #FFF;
}

ul#editModuleMenuNavigation li.activelink a,ul#editModuleMenuNavigation li.activelink a:hover {
	background: #FFF;
	color: #003;
}

div#advanced_properties_box {
	text-align:left;
	background-color: #FF9966;
}

div#simple_properties_box {
	margin-top: 10px;
	text-align:left;
	background-color: #9CC0FF;
}

.componentPropertiesListHeader {
	cursor: pointer;
}

.closeButtonContainerStyle {
	padding-top: 5px;
	float: right;
}

.moduleProperty, .modulePropertyIsSet {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
	margin-bottom: 6px;
	font-size: 14px !important;
	text-align: left;
}

.moduleProperty span, .modulePropertyIsSet span {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
	font-size: 14px !important;
}

.moduleProperty:hover span, .modulePropertyIsSet:hover span {
	cursor: pointer;
}

.modulePropertyIsSet span {
	font-weight: bold;
}

.modulePropertySetter {
	border: 1px #a0a0a0 solid;
	float: left;
}

.modulePropertyContainer {
	padding: 8px 8px 0 8px;
	border: 1px #666 solid;
	background-color: #efefef;
	margin-right: 40px;
}

.modulePropertyContainer div {
	overflow: hidden;
}

.modulePropertyContainer label {
	float: left;
	width: 100px;
	font-weight: bold;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
	font-size: 14px !important;
}

.modulePropertyContainer .modulePropertyItem {
	margin-bottom: 8px;
}

.modulePropertyContainer .modulePropertyItem .booleanInput label {
	font-weight: normal;
}

.modulePropertyContainer .modulePropertyItem input.modulePropertySetter {
	font-size: 14px;
	padding: 2px 4px;
}

.modulePropertyContainer .modulePropertyItem select.modulePropertySetter {
	font-size: 14px;
}

.add_article_module_to_region_image:hover {
	cursor: pointer;
}

.imageWithMootoolsTooltips:hover {
	cursor: pointer;
}

.pasteModuleIconContainer {
	float: left;
}

.draggingOverDropArea {
	background-color: #98B5C1;
}

.removeBuilderModulePropertyStyle {
}

.removeBuilderModulePropertyStyle:HOVER {
	cursor: pointer;
}

.groupsChooserConnectionHiddenTable {
	display: none;
}

.groupsChooserConnectionVisibleTable {
	display: block;
}

.groupsChooserConnectionTableTextCellStyle {
	width: 20%;
}

.tree_drag_drop li {
	list-style-type: none;
}

.calendarViewerEventOrLedgerPropertyNameStyleClass {
	font-weight: normal;
}

/* Button layer */
.isEditAdmin .addableRegion {
	position: relative;
	min-height: 20px;
	border: 1px #aaa dotted;
	padding-bottom: 20px;
}

.addableRegion:hover {
	border-color: #666;
}

.isEditAdmin .addableRegion .addableRegion {
	margin-bottom: 20px;
}

.addableRegion .addableRegionLabel {
	display: none;
}

.isEditAdmin .addableRegion .addableRegionLabel {
	display: block;
	border: 1px #aaa solid;
	position: absolute;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	top: -10px;
	right: 3px;
	line-height: 18px !important;
	padding: 0 6px !important;
	font-size: 10px !important;
	z-index: 0;
	background: url(images/region-label-tiler.gif) top left repeat-x #c9c9c9;
	color: #000 !important;
	z-index: 999;
	font-family: Arial, Helvetica, sans-serif !important;
}

.addableRegion:hover > .addableRegionLabel {
	border-color: #666;
	background: url(images/region-label-tiler-hover.gif) top left repeat-x #838383;
	color: #fff !important;
}

.regionLabel {
	position: absolute;
	z-index: 100;
	overflow: hidden;
	bottom: 0px;
	left: 0px;
}

.isEditAdmin .addableRegion:hover > .regionLabel {
	display: block !important;
}

.regionLabel .builderButtons {
	border: 1px #666 dotted;
	border-bottom: 0;
	border-left: 0;
	background-color: #ccc;
	border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	padding: 0;
	float: left;
	text-transform: lowercase;
}

div.builderButtons div.builderButton {
	float: left;
	font-size: 10px !important;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
	color: #000 !important;
	line-height: 16px;
	padding: 0 4px !important;
}

div.builderButtons div.sliderWrapper {
	float: left;
	cursor: pointer;
}

div.builderButtons div.builderButton a {
	border: 0 !important;
	color: #000 !important;
	text-decoration: none !important;
	padding-left: 12px !important;
	display: block;
}

div.builderButtons div.builderButton a.addModuleLinkStyleClass {
	background: url(/idegaweb/bundles/com.idega.builder.bundle/resources/style/images/add.png) left no-repeat !important;
}

div.builderButtons div.builderButton span.add_article_module_to_region_image {
	background: url(/idegaweb/bundles/com.idega.builder.bundle/resources/style/images/text.png) left no-repeat !important;
	padding-left: 12px;
}

div.builderButtons div.builderButton img {
	right: 0 !important;
}

.groupPermissionFrameInNewBuilderStyle {
	width: 99%;
	height: 99%;
}

.addModuleToBuilderPage, #editModuleHeader {
	background: #fff !important;
	font-size: 16px;
}

#mb_center .mootabs_title {
	padding-left: 6px;
	height: 25px;
	position: relative;
	z-index: 1;
}

#mb_center .mootabs_title li {
	height: 20px;
	font-size: 13px;
	border: 1px #e6e6e6 solid;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

#mb_center .mootabs_title li.active {
	background-color: #fff;
	border-bottom: 1px #fff solid;
}

#mb_center .mootabs_panel {
	position: relative;
	z-index: 0;
	border-top: 1px #e6e6e6 solid;
	background-color: #fff;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
}