/* The edit view*/
.moduleContainer {	
	cursor: default;	
	border: 0px solid;
	margin: 1px;
	clear: both;
}

.moduleContainer:hover {	
	/*cursor: default;	
	border: 1px #000000 dotted;
	margin: 1px;*/
	background-color: #FFFF99;
}

.moduleHandle {
	background-color: #D7DBE7;
	border-bottom: 1px #000000 solid;	
	cursor: default;
	height: 16px;
	clear: both;
	padding:0px;
}

.moduleContent{	
	cursor: default;
}

.moduleName{
	font-size: 12px !important;
	font-family: Arial !important;
	height: 16px !important;
	cursor: move;
	white-space: nowrap !important;
	padding-left: 2px !important;
	padding-top:3px !important;
	text-transform: none !important;
	font-weight: normal !important;
}

.moduleDropArea{
	cursor: default;
	height: 18px;
}

.moduleDropAreaHover{
	cursor: default;
	background-color: #e7edf7;
}

.moduleButtons{
	cursor: default;
	float: right;
	clear:right;
	text-align:right;
	padding-top:1px;
}

.moduleContainer .moduleDropArea .moduleButtons .moduleButton {
	margin-left: 1px;
	margin-right: 1px;
	padding:0px;
	border: none;
}

div.moduleButtons a {
	display: block !important;
	float: left !important;
	padding: 0 !important;
	width: 16px !important;
	height: 16px !important;
	background-image: none !important;
	background-color: transparent !important;
}

.moduleContainer .moduleDropArea .moduleButtons .moduleButton img {
	margin: 0px;
	border: none;
	width: 16px !important;
	height: 16px !important;
}

.toolbarButton{
	float: left;
	margin-right: 3px;
	margin-left: 3px;
	margin-top: 3px;
}

.toolbarLocaleMenu{
	font-family:Arial,Helvetica,sans-serif;font-size: 7pt; 
	border: 1 solid #000000;
	margin-top: 3px;
	float: left;
}

.DnDAreaTable{
	margin:0px;
	cursor: default;
	height: 18px;
	clear: both;
	padding: 0px;
	width:100%;
	cell-padding: 0px;
	cell-spacing: 0px;
	white-space: nowrap;
	visibility: hidden;
}

.regionLabel{
	/*visibility: hidden;*/
	
	/*old style
	font-size: 11px !important;
	font-family: Arial !important;
	background-color: yellow;
	border: 1px #000000 solid;	
	float:left;
	padding-left: 1px;
	padding-right: 1px;
	clear:both;
	text-transform: none !important;
	font-weight: normal !important;*/
}

div#region_labelpageHeader, div#region_labelsite_title, div#region_labelsite_slogan, div#region_labellogo, div#region_labelsidebar_title, div#region_labelbreadcrumb, div#region_labelcontentContainer, div#region_labelsidebarContainer {
	display: none;
}

div.regionLabel a {
	padding: 0 !important;
	width: 9px !important;
	height: 9px !important;
	display: inline !important;
	background-image: none !important;
	background-color: transparent !important;
}

.regionLabelHover{
	background-color: green;
	border: 1px #000000 solid;	
	float:left;
	padding-left: 1px;
	padding-right: 1px;
	clear: both;
}

.regionLabel .regionButton {
	margin: 2px;
	padding: 0px;
}
.regionLabel .regionButton img {
	margin: 0px;
}

/* The source view*/
.sourceView {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 12px;
    color:#4a4a4a;
}

.sourceView form{
	margin: 0px;
	padding: 0px;
}

.sourceView textarea{
	position: absolute;
	top: 0;
	bottom: 101px;
	background-color: #fafafa;
	font-size: 11px;
	width: 100%;

	height: expression((document.body.clientHeight) ? document.body.clientHeight - 100 + 'px' : document.documentElement.clientHeight - 100 + 'px' );

	clear: both;
	margin: 0px;
	padding-left: 5px;
	padding-top: 3px;
	border-bottom: 1px solid #bbbbbb;
}

html>body .sourceView textarea {
	height: auto;
}

.sourceViewButtonsLeft{
	top: expression((document.body.clientHeight) ? document.body.clientHeight - 100 + 'px' : document.documentElement.clientHeight - 100 + 'px');

	position: absolute;
	bottom: 0;
	width: 298px;
	height: 84px;
	margin: 0px;
	padding: 8px;
	float:left;
}

html>body .sourceviewButtonsLeft {
	top: auto;
}

.sourceView .sourceViewButtonsLeft input{
	border: 1px solid #bbbbbb;
	font-size: 11px;
	margin-right:3px;
	width: 144px;
	clear: both;
}

.sourceView .sourceViewButtonsLeft .helpText{
	clear: both;
	float: left;
	margin-top: 10px;
}

.sourceViewButtonsRight{
	top: expression((document.body.clientHeight) ? document.body.clientHeight - 100 + 'px' : document.documentElement.clientHeight - 100 + 'px');

	position: absolute;
	bottom: 0;
	right: 0;
	width: 56%;
	height: 84px;
	margin: 0px;
	padding: 8px;
	float:right;
}

html>body .sourceviewButtonsLeft {
	top: auto;
}

.sourceView .sourceViewButtonsRight .helpText{
	float: left;
	display: inline;
	width: 225px;
	text-align: left;
}

.sourceView .sourceViewButtonsRight .helpText code{
	font-size: 11px;
	font-weight: bold;
}

.sourceView .sourceViewButtonsRight input{
	border: 1px solid #bbbbbb;
	font-size: 11px;
	margin-left:5px;
	display:inline;
	float:right;
}

.sourceView .sourceViewButtonsRight select{
	border: 1px solid #bbbbbb;
	display:inline;
	float:right;
	font-weight: bold;
	font-size: 11px;
	width: 125px;
	height:17px;
}

.builderinitialsetupblock{
	margin-top:100px;
}

.regionComponentImageContainer {

}

.regionComponentImageContainer:hover {

}

.regionInfoImageContainer {
	visibility: hidden;
	float: right;
}

.regionInfoImageContainer:hover {
	cursor: pointer;
}

.modulesListContainerStyle {
	font-weight: bold;
}

.modulesListStyle {
	list-style: none;
}

.modulesListItemStyle {
	cursor: pointer;
	font-weight: normal;
}

.modulesListItemStyle:hover {
	cursor: pointer;
	font-weight: bold;
}

.regionContainer {	

}

.regionContainer:hover {
	background-color: #99CCCC;
}

/*for modules*/
ul#modules_lists, ul#modules_lists li {
	margin:0;
	padding:0;
	list-style:none;
}
ul#modules_lists li {
	float:left;
	width:150px;
	margin:0 10px 10px 0;
}
ul#modules_lists h3 {
    margin:0px;
    padding: 5px 0 0;
    text-align:center;
    color: #000;
}
ul#modules_lists p {
	margin:0;
	padding:1px 1px 5px;
}
ul#modules_lists p:hover {
	font-weight: bold;
	cursor: pointer;
}
ul#modules_lists div {
	background: #FFC;
}

div#editModuleHeader {
	padding: 1px;
	margin:0 auto;
    background:#E6E6E6;
    color:#000;
}

div#editModuleHeader h1 {
	text-align: center;
}

div#editModuleMenu {
}
ul#editModuleMenuNavigation,ul#editModuleMenuNavigation li {
	list-style-type:none;
	margin:0;
	padding:0;
}
ul#editModuleMenuNavigation {
}
ul#editModuleMenuNavigation li {
	float:left;
	margin-right: 3px;
	text-align: center;
}
ul#editModuleMenuNavigation a {
	float:left;
	width: 7em;
	padding: 5px 0;
	background: #4C627D;
	text-decoration:none;
	color: #FFF;
}
ul#editModuleMenuNavigation a:hover {
	background: #FFA826;
	color: #FFF;
}
ul#editModuleMenuNavigation li.activelink a,ul#editModuleMenuNavigation li.activelink a:hover {
	background: #FFF;
	color: #003;
}

div#advanced_properties_box {
    text-align:left;
    background-color: #FF9966;
}

div#simple_properties_box {
	margin-top: 10px;
    text-align:left;
    background-color: #9CC0FF;
}

.componentPropertiesListHeader {
	cursor: pointer;
}

.closeButtonContainerStyle {
	padding-top: 5px;
	float: right;
}

.moduleProperty:HOVER {
	cursor: pointer;
}

.modulePropertyIsSet span {
	font-weight: bold;
}

.modulePropertyIsSet:HOVER span{
	cursor: pointer;
}

.modulePropertySetter {
}

.add_article_module_to_region_image:hover {
	cursor: pointer;
}